force-app/main/default/flows/Account_BeforeCreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>SetBusinessName</name>
        <label>SetBusinessName</label>
        <locationX>505</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>$Record.Business_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>IsPersonAccount</name>
        <label>IsPersonAccount</label>
        <locationX>276</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBusinessName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>BusinessName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; &apos; + {!$Record.Suffix}</expression>
    </formulas>
    <interviewLabel>Account_BeforeCreateUpdate {!$Flow.CurrentDateTime} - {!$Record.Id}</interviewLabel>
    <label>Account_BeforeCreateUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsPersonAccount</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
