force-app/main/default/flows/ActionCreateInvoiceFromBillingEvent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Invoice_Line_Extra_Hours_to_Collection</name>
        <label>Add Invoice Line Extra_Hours to Collection</label>
        <locationX>314</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>lstInvoiceLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>auxInvoiceLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Invoices_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Invoice_Line_Milestone_Fee_to_Collection</name>
        <label>Add Invoice Line (Mileston Fee) to Collection</label>
        <locationX>886</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>lstInvoiceLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>auxInvoiceLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Event_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Invoice_Line_to_Collection</name>
        <label>Add Invoice Line to Collection</label>
        <locationX>1326</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>lstInvoiceLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>auxInvoiceLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Event_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Event_Data</name>
        <label>Set Billing Event Data</label>
        <locationX>534</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>record.InvoiceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjInvoice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>total_hours</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Billing_Event_Items_from_Billing_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hours_to_Invoice_TimeCard_from_Billing_Event_Item</name>
        <label>Set Hours to Invoice (TimeCard) from Billing Event Item</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalhours_minus_feehours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Horas extras de consultoria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Horas extras de consultoria</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Invoice_Line_TimeCard_from_Billing_Event_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hours_to_Invoice_TimeCard_from_Billing_Event_Item_2</name>
        <label>Set Hours to Invoice (TimeCard) from Billing Event Item 2</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>total_hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Horas de consultoria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Horas de consultoria</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Invoice_Line_TimeCard_from_Billing_Event_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invoice_Data_from_Billing_Event</name>
        <label>Set Invoice Data from Billing Event</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>sobjInvoice.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>project.pse__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInvoice.InvoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.pse__Invoice_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInvoice.ProjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.pse__Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInvoice.OpportunityId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>project.pse__Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInvoice.AmountPaid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInvoice.Billing_EventId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInvoice.DueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInvoice.PaymentStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Paid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInvoice.PaymentTerms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>30</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInvoice.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInvoice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_Screen_Create_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invoice_Line_from_Billing_Event_Item</name>
        <label>Set Invoice Line from Billing Event Item</label>
        <locationX>1326</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.InvoiceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjInvoice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.NetAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Event_Items.pse__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Billing_Event_ItemId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Event_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjInvoice.OpportunityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Event_Items.pse__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>21</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Event_Items.pse__Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Event_Items.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Event_Items.pse__Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Invoice_Line_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invoice_Line_Milestone_Fee_from_Billing_Event_Item</name>
        <label>Set Invoice (Line Milestone Fee) from Billing Event Item</label>
        <locationX>886</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.InvoiceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjInvoice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Billing_Event_ItemId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Event_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjInvoice.OpportunityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>project.Fee_Hours_per_Month__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>21</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>project.Price_x_Hour__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>auxMilestone.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>auxMilestone.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Invoice_Line_Milestone_Fee_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invoice_Line_TimeCard_from_Billing_Event_Item</name>
        <label>Set Invoice (TimeCard) from Billing Event Item</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.InvoiceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjInvoice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjInvoice.OpportunityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>21</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxInvoiceLine.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>project.Price_x_Hour__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Invoice_Line_Extra_Hours_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Hours</name>
        <label>Sum Hours</label>
        <locationX>622</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>total_hours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Billing_Event_Items.pse__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Event_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Billing_Event_Category</name>
        <label>Billing Event Category</label>
        <locationX>886</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Billing_Event_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Timecard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Event_Items.pse__Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Timecard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sum_Hours</targetReference>
            </connector>
            <label>Timecard</label>
        </rules>
        <rules>
            <name>Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Event_Items.pse__Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milestone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone</targetReference>
            </connector>
            <label>Milestone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_SubType</name>
        <label>Project SubType</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Set_Invoice_Line_from_Billing_Event_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FEE_suscripcion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>project.Project_Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FEE/suscripción</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>project.Project_Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato marco (T&amp;M)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Event_Category</targetReference>
            </connector>
            <label>FEE/suscripción &amp; Contrato marco (T&amp;M)</label>
        </rules>
    </decisions>
    <decisions>
        <name>total_hours_greater_than_fee_hours</name>
        <label>total hours greater than fee hours</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Create_Invoices_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fee_Not_defined</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>project.Fee_Hours_per_Month__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>project.Fee_Hours_per_Month__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Hours_to_Invoice_TimeCard_from_Billing_Event_Item_2</targetReference>
            </connector>
            <label>Fee Not defined</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>total_hours</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>project.Fee_Hours_per_Month__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hours_to_Invoice_TimeCard_from_Billing_Event_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Total_Hours_Question</name>
        <label>¿Total Hours?</label>
        <locationX>534</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Create_Invoices_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_Than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>total_hours</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>total_hours_greater_than_fee_hours</targetReference>
            </connector>
            <label>Greater Than 0</label>
        </rules>
    </decisions>
    <description>Perimera version recuperando datos antes de realizar el proceso, Se incluiye en la creación de facturas agrupando los timecards n el contrato Marco. Se genera aunque el fee este sin definir</description>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>{!record.pse__Invoice_Date__c} + 30</expression>
    </formulas>
    <formulas>
        <name>totalhours_minus_feehours</name>
        <dataType>Number</dataType>
        <expression>{!total_hours} - {!project.Fee_Hours_per_Month__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ActionCreateInvoiceFromBillingEvent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ActionCreateInvoiceFromBillingEvent</label>
    <loops>
        <name>Billing_Event_Items</name>
        <label>Billing Event Items</label>
        <locationX>534</locationX>
        <locationY>890</locationY>
        <collectionReference>lstBillingEventItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Project_SubType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Total_Hours_Question</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Set_Billing_Event_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputReference>sobjInvoice</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoices_Lines</name>
        <label>Create Invoices Lines</label>
        <locationX>534</locationX>
        <locationY>2498</locationY>
        <connector>
            <targetReference>Update_Billing_Event</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputReference>lstInvoiceLine</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Billing_Event</name>
        <label>Get Billing Event</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>pse__Billing_Event__c</object>
        <outputReference>record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>InvoiceId__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>pse__Date__c</queriedFields>
        <queriedFields>pse__Invoice_Date__c</queriedFields>
        <queriedFields>pse__Project__c</queriedFields>
        <queriedFields>pse__Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Billing_Event_Items_from_Billing_Event</name>
        <label>get Billing Event Items from Billing Event</label>
        <locationX>534</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billing_Event_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Billing_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </filters>
        <object>pse__Billing_Event_Item__c</object>
        <outputReference>lstBillingEventItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>pse__Amount__c</queriedFields>
        <queriedFields>pse__Billing_Event__c</queriedFields>
        <queriedFields>pse__Description__c</queriedFields>
        <queriedFields>pse__Project__c</queriedFields>
        <queriedFields>pse__Quantity__c</queriedFields>
        <queriedFields>pse__Unit_Price__c</queriedFields>
        <queriedFields>pse__Date__c</queriedFields>
        <queriedFields>pse__ProductService__c</queriedFields>
        <queriedFields>pse__Category__c</queriedFields>
        <queriedFields>pse__Milestone__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone</name>
        <label>Get Milestone</label>
        <locationX>886</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Invoice_Line_Milestone_Fee_from_Billing_Event_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Event_Items.pse__Milestone__c</elementReference>
            </value>
        </filters>
        <object>pse__Milestone__c</object>
        <outputReference>auxMilestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Description__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Invoice_Data_from_Billing_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.pse__Project__c</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputReference>project</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Account__c</queriedFields>
        <queriedFields>pse__Opportunity__c</queriedFields>
        <queriedFields>Price_x_Hour__c</queriedFields>
        <queriedFields>Fee_Hours_per_Month__c</queriedFields>
        <queriedFields>pse__Project_Type__c</queriedFields>
        <queriedFields>Project_Subtype__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billing_Event</name>
        <label>Update Billing Event</label>
        <locationX>534</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputReference>record</inputReference>
    </recordUpdates>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>534</locationX>
        <locationY>2714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>labelOk</name>
            <fieldText>&lt;p&gt;Se ha creado correctamente&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>First_Screen_Create_Invoice</name>
        <label>First Screen Create Invoice</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
        <fields>
            <name>Project_Information</name>
            <fieldText>Project Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>project.pse__Account__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>project.Project_Subtype__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>project.Fee_Hours_per_Month__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Price_x_Hour</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>project.Price_x_Hour__c</elementReference>
                    </defaultValue>
                    <fieldText>Price_x_Hour</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Billing_Event_Information</name>
            <fieldText>Billing Event Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Billing_Event_Information_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Billing_Event_Information_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Billing_Event_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Screen Error</label>
        <locationX>1458</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lblError</name>
            <fieldText>&lt;p&gt;Se ha producido un error al crear la factura.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;RecordID: {!recordId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Billing_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>auxInvoiceLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>auxMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>lstBillingEventItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Billing_Event_Item__c</objectType>
    </variables>
    <variables>
        <description>Lineas de factura a insertar</description>
        <name>lstInvoiceLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Billing_Event__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Objeto Invoice personalizado a crear</description>
        <name>sobjInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>total_hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
