force-app/main/default/flows/Clone_Course_with_Attendances.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>CourseCloneName</name>
        <dataType>String</dataType>
        <expression>&quot;Cloned &quot; + {!GetCourse.Name}</expression>
    </formulas>
    <interviewLabel>Clone Course with Attendance {!$Flow.CurrentDateTime} {!recordId}</interviewLabel>
    <label>Clone Course with Attendances</label>
    <loops>
        <name>Loop_Attendances</name>
        <label>Loop Attendances</label>
        <locationX>629</locationX>
        <locationY>138</locationY>
        <assignNextValueToReference>auxAttendance</assignNextValueToReference>
        <collectionReference>GetAttendance</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateAttendances</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Ok_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAttendances</name>
        <label>CreateAttendances</label>
        <locationX>628</locationX>
        <locationY>319</locationY>
        <connector>
            <targetReference>Loop_Attendances</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Attendant__c</field>
            <value>
                <elementReference>auxAttendance.Attendant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>newCourseId</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewCourse</name>
        <label>CreateNewCourse</label>
        <locationX>355</locationX>
        <locationY>52</locationY>
        <assignRecordIdToReference>newCourseId</assignRecordIdToReference>
        <connector>
            <targetReference>GetAttendance</targetReference>
        </connector>
        <inputAssignments>
            <field>Course_Type__c</field>
            <value>
                <elementReference>GetCourse.Course_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>GetCourse.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CourseCloneName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCourse.RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Course__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetAttendance</name>
        <label>GetAttendance</label>
        <locationX>502</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Attendances</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCourse</name>
        <label>GetCourse</label>
        <locationX>154</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateNewCourse</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>205</locationX>
        <locationY>310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: courier; font-size: 20px; color: rgb(255, 0, 0);&quot;&gt;Error:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: courier; font-size: 20px; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ok_Screen</name>
        <label>Ok_Screen</label>
        <locationX>835</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Ok_message</name>
            <fieldText>&lt;p&gt;Course Cloned:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCourse</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>auxAttendance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Attendance__c</objectType>
    </variables>
    <variables>
        <name>newCourseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
