force-app/main/default/flows/Create_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Invoice</label>
    <loops>
        <name>Loop_Billings_Event_Items</name>
        <label>Loop Billings Event Items</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Query_Billing_Event_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crea_Invoice_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Invoice_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_Invoice_Line</name>
        <label>Create Invoice Line</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Loop_Billings_Event_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceId__c</field>
            <value>
                <elementReference>Create_Invoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax__c</field>
            <value>
                <stringValue>21</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice__c</field>
            <value>
                <elementReference>$Record.pse__Summary_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>CreteInvoice</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Query_Billing_Event_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_EventId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceDate__c</field>
            <value>
                <elementReference>$Record.pse__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId__c</field>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentStatus__c</field>
            <value>
                <stringValue>Not Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentTerms__c</field>
            <value>
                <stringValue>30</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProjectId__c</field>
            <value>
                <elementReference>$Record.pse__Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>COA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VATNumber__c</field>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Account__r.fferpcore__VatRegistrationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Query_Billing_Event_Items</name>
        <label>Query Billing Event Items</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Billings_Event_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Billing_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Billing_Event_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Fields</name>
        <label>Update Invoice Fields</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>InvoiceId__c</field>
            <value>
                <elementReference>Create_Invoice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Is_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InvoiceId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Billing_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
