force-app/main/default/flows/Create_Request_Holiday_PSA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Cambia_Status</name>
        <label>Cambia Status?</label>
        <locationX>677</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>create_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No cambia</defaultConnectorLabel>
        <rules>
            <name>Si_Cambia_Status</name>
            <conditionLogic>1 AND ( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Holiday_Req_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Holiday_Req_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Holiday_Req_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cual_status</targetReference>
            </connector>
            <label>Si Cambia Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>cual_status</name>
        <label>cual status?</label>
        <locationX>380</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Create_Assigment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Cancelado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Holiday_Req_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Resurce_Request_To_Delete</targetReference>
            </connector>
            <label>Cancelado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Resurce_Request_To_Delete</name>
        <label>Hasº Resurce Request?</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Resource_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CC_Resource_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_resource_request</targetReference>
            </connector>
            <label>Yes, Has Resource Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_Resource_Request</name>
        <label>tiene Resurce Request?</label>
        <locationX>974</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Create_Resource_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tiene</defaultConnectorLabel>
        <rules>
            <name>NotieneResourceRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CC_Resource_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Resource_Request</targetReference>
            </connector>
            <label>Si tiene Resource Request</label>
        </rules>
    </decisions>
    <description>Se incluye no hacer nada si no hay Resource Request</description>
    <environments>Default</environments>
    <formulas>
        <name>AssigmentName</name>
        <dataType>String</dataType>
        <expression>{!$Record.CC_Resource_Request__r.psa_report__Project_Name__c} +&quot; - &quot; + {!$Record.Employe_Name__c}</expression>
    </formulas>
    <formulas>
        <name>HourRequest</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Requested_Days__c}*8</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Request Holiday PSA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Request Holiday PSA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assigment</name>
        <label>Create Assigment</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Update_Resource_Request_Accepted</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AssigmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Bill_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Cost_Rate_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>$Record.CC_Resource_Request__r.pse__Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Resource__c</field>
            <value>
                <elementReference>$Record.CC_Resource_Request__r.pse__Staffer_Resource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Schedule__c</field>
            <value>
                <elementReference>$Record.CC_Resource_Request__r.pse__Preferred_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Resource_Request</name>
        <label>Create Resource Request</label>
        <locationX>1106</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Update_Holiday_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Group__c</field>
            <value>
                <elementReference>get_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Practice__c</field>
            <value>
                <elementReference>get_Practice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Preferred_Schedule__c</field>
            <value>
                <elementReference>create_Schedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>get_Project.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Region__c</field>
            <value>
                <elementReference>get_Region.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Resource_Held__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Resource__c</field>
            <value>
                <elementReference>RecordId.CreatedBy.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__SOW_Hours__c</field>
            <value>
                <elementReference>HourRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Staffer_Resource__c</field>
            <value>
                <elementReference>get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Hold</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Resource_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Schedule</name>
        <label>create Schedule</label>
        <locationX>974</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>tiene_Resource_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Friday_Hours__c</field>
            <value>
                <numberValue>6.5</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Monday_Hours__c</field>
            <value>
                <numberValue>8.5</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Thursday_Hours__c</field>
            <value>
                <numberValue>8.5</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Tuesday_Hours__c</field>
            <value>
                <numberValue>8.5</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Wednesday_Hours__c</field>
            <value>
                <numberValue>8.5</numberValue>
            </value>
        </inputAssignments>
        <object>pse__Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>delete_resource_request</name>
        <label>delete resource request</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CC_Resource_Request__c</elementReference>
            </value>
        </filters>
        <object>pse__Resource_Request__c</object>
    </recordDeletes>
    <recordLookups>
        <name>get_Contact</name>
        <label>get Contact</label>
        <locationX>677</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Salesforce_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Group</name>
        <label>get Group</label>
        <locationX>677</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cambia_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Groups</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Grp__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Practice</name>
        <label>get Practice</label>
        <locationX>677</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Practices</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Practice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Project</name>
        <label>get Project</label>
        <locationX>677</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid Time Off</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid Time Off</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Proj__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Region</name>
        <label>get Region</label>
        <locationX>677</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Practice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Regions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Region__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Holiday_Request</name>
        <label>Update Holiday Request</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <inputAssignments>
            <field>CC_Resource_Request__c</field>
            <value>
                <elementReference>Create_Resource_Request</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resource_Request</name>
        <label>Update Resource Request</label>
        <locationX>842</locationX>
        <locationY>1187</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CC_Resource_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Preferred_Schedule__c</field>
            <value>
                <elementReference>create_Schedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__SOW_Hours__c</field>
            <value>
                <elementReference>HourRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Resource_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resource_Request_Accepted</name>
        <label>Update Resource Request Accepted</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CC_Resource_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Assignment__c</field>
            <value>
                <elementReference>Create_Assigment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Resource_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Project</targetReference>
        </connector>
        <object>Holiday_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Holiday_Request__c</objectType>
    </variables>
    <variables>
        <name>ResourceRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Resource_Request__c</objectType>
    </variables>
</Flow>
