force-app/main/default/flows/Invoice_BeforeInsertUpdate_UpdateAddressAndVAT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_Address_and_VAT</name>
        <label>Update_Address_and_VAT</label>
        <locationX>854</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAccount.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAccount.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAccount.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAccount.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAccount.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.VATNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAccount.CIF_NIF__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Se_asigna_AccountId_c</name>
        <label>Se asigna AccountId__c</label>
        <locationX>434</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VATNumber__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ParentAccount</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>No se ejecuta cuando se asigna otro Vat Number</description>
    <environments>Default</environments>
    <interviewLabel>BeforeInsertUpdateInvoice_UpdateAddressAndVAT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice - Before InsertUpdate_UpdateAddressAndVAT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ParentAccount</name>
        <label>Parent Account</label>
        <locationX>667</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Address_and_VAT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>CIF_NIF__c</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>94</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Se_asigna_AccountId_c</targetReference>
        </connector>
        <object>Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
