force-app/main/default/flows/Recordatorio_mas_de_una_semana.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Recordatorio_repetitivo</name>
        <label>Recordatorio repetitivo</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>pse__Missing_Timecard__c.Interno_Falta_reporte_horas_Notificaci_n_3</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Missing_Timecard__c.Interno_Falta_reporte_horas_Notificaci_n_3</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Mas_de_una_semana</name>
        <label>Más de una semana</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Ha_pasado_mas_de_una_semana</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Today_Mas_7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recordatorio_repetitivo</targetReference>
            </connector>
            <label>Ha pasado mas de una semana</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today_Mas_7</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <interviewLabel>Recordatorio mas de una semana {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recordatorio mas de una semana</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mas_de_una_semana</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Date_Timecard_Entered__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Missing_Timecard__c</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-06-23</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
