force-app/main/default/flows/SCVCB_Voice_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddCaseToVoiceRecord</name>
        <label>AddCaseToVoiceRecord</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateVoiceCall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LinkCasetoVoiceCall</name>
        <label>LinkCasetoVoiceCall</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateVoiceCall</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IVRSelection</name>
        <label>IVRSelection</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>CreateCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default (NewCase)</defaultConnectorLabel>
        <rules>
            <name>ExistingCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IVRType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ExistingCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindCase</targetReference>
            </connector>
            <label>ExistingCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Soporte</name>
        <label>Soporte</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IVRSelection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Get8DigitCaseNumber</name>
        <dataType>String</dataType>
        <expression>&quot;0000&quot;&amp;  {!$Record.IVRInput__c}</expression>
    </formulas>
    <interviewLabel>SCVCB - Voice Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCVCB - Voice Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>AddCaseToVoiceRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.IVRInput__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Adding 0000 to a 4-digit input for case number.</description>
        <name>FindCase</name>
        <label>FindCase</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LinkCasetoVoiceCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get8DigitCaseNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateVoiceCall</name>
        <label>UpdateVoiceCall</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Soporte</targetReference>
        </connector>
        <object>VoiceCall</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
