force-app/main/default/flows/ValidationFlowHours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AssignFlowError</name>
        <label>AssignFlowError</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.FlowError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NoTaskTime</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignZero</name>
        <label>AssignZero</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>auxTimeCard.pse__Sunday_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxTimeCard.pse__Saturday_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxTimeCard.pse__Friday_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxTimeCard.pse__Thursday_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxTimeCard.pse__Wednesday_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxTimeCard.pse__Tuesday_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxTimeCard.pse__Monday_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetTimeTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SumHours2</name>
        <label>SumHours</label>
        <locationX>270</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>auxTimeCard.pse__Sunday_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumSundayHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxTimeCard.pse__Saturday_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumSaturdayHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxTimeCard.pse__Friday_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumFridayHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxTimeCard.pse__Thursday_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumThursdayHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxTimeCard.pse__Wednesday_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumWednesday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxTimeCard.pse__Tuesday_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumTuesdayHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auxTimeCard.pse__Monday_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumMondayHours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetTaskTime</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Diferent_Hours</name>
        <label>Diferent Hours?</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_HoursWithoutTaskTime</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Saturday_Hours__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>auxTimeCard.pse__Saturday_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Sunday_Hours__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>auxTimeCard.pse__Sunday_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Friday_Hours__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>auxTimeCard.pse__Friday_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Thursday_Hours__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>auxTimeCard.pse__Thursday_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Wednesday_Hours__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>auxTimeCard.pse__Wednesday_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Tuesday_Hours__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>auxTimeCard.pse__Tuesday_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Monday_Hours__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>auxTimeCard.pse__Monday_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFlowError</targetReference>
            </connector>
            <label>Error - HoursWithoutTaskTime</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SumFridayHours</name>
        <dataType>Number</dataType>
        <expression>{!auxTimeCard.pse__Friday_Hours__c} + {!GetTaskTime.pse__Friday_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SumMondayHours</name>
        <dataType>Number</dataType>
        <expression>{!auxTimeCard.pse__Monday_Hours__c} + {!GetTaskTime.pse__Monday_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SumSaturdayHours</name>
        <dataType>Number</dataType>
        <expression>{!auxTimeCard.pse__Saturday_Hours__c} + {!GetTaskTime.pse__Saturday_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SumSundayHours</name>
        <dataType>Number</dataType>
        <expression>{!auxTimeCard.pse__Sunday_Hours__c} + {!GetTaskTime.pse__Sunday_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SumThursdayHours</name>
        <dataType>Number</dataType>
        <expression>{!auxTimeCard.pse__Thursday_Hours__c} + {!GetTaskTime.pse__Thursday_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SumTuesdayHours</name>
        <dataType>Number</dataType>
        <expression>{!auxTimeCard.pse__Tuesday_Hours__c} + {!GetTaskTime.pse__Tuesday_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SumWednesday</name>
        <dataType>Number</dataType>
        <expression>{!auxTimeCard.pse__Wednesday_Hours__c} + {!GetTaskTime.pse__Wednesday_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ValidationFlowHours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ValidationFlowHours</label>
    <loops>
        <name>GetTaskTime</name>
        <label>GetTaskTime</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <collectionReference>GetTimeTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SumHours2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Diferent_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTimeTasks</name>
        <label>GetTimeTasks</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTaskTime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Timecard__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Task_Time__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignZero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>pse__Timecard_Header__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>auxTimeCard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Timecard_Header__c</objectType>
    </variables>
</Flow>
